@using Proje.BLL.Models.DTOs;

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SiparisGonderDTO

<tr>
    <td>@Model.MenuAdi @Model.Boyut.ToString() x @Model.Adet.ToString() </td>
    <td>@Model.Fiyat</td>
</tr>

<style>
    tr{
        background-color:greenyellow;
    }
</style>
