@using Proje.BLL.Models.DTOs;

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SiparisOlusturDTO
<table class="table table-hover table-success">
    <tr>
        <th>Sepetinizdekiler</th>
        <th>Fiyat</th>
    </tr>
    @foreach (var item in Model.gonderilenSiparisler)
    {
        <tr>
            <td>@item.MenuAdi  @item.Boyut</td>
            <td></td>
        </tr>
    }

</table>