@using Proje.BLL.Models.DTOs;
@using Proje.DATA.Entities;
@using Proje.DATA.Enums;
@model SiparisOlusturDTO

@{
    ViewData["Title"] = "SiparisOlustur";
}

<h1>sipariş</h1>
<div class="menuler">

    <button type="button" class="btn btn-outline-secondary" id="" onclick="SiparisGonder()">Sipariş Oluştur</button>
</div>

<div id="siparisListesi">
    <button type="button" class="btn btn-outline-secondary" id="" onclick="Deneme()">deneme</button>
</div>







