@using Proje.BLL.Models.VMs;
@model ConfirmMailVM
@{
    ViewData["Title"] = "Index";
}
<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Hesabını Aktifleştir</h1>
    </div>
</div>
<form method="post">
    <h2>Mail Adresiniz: @ViewBag.Email</h2>
    <input type="hidden" asp-for="Email" value="@ViewBag.Email"/>
    <br />
    <label>Mail Adresinize Gelen 6 Haneli Kodu Giriniz</label>
    <input type="text" class="form-control" asp-for="ConfirmCode"/>
    <div class="bg-danger text-white">@ViewBag.Uyarı</div>
    <br />
    <button class="btn btn-primary">Hesabı Aktifleştir</button>
</form>

