@using Microsoft.AspNetCore.Identity;
@using Proje.DATA.Entities;
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        AppUser user = await UserManager.GetUserAsync(User);
        <h1 class="display-4">Welcome @user.Ad @user.Soyad</h1>
    }
    else
    {
    <h1 class="display-4">Welcome</h1>
    }
</div>
