@{
    ViewData["Title"] = "Settings";
}

<link rel="stylesheet" type="text/css" href="~/template/profilecss/core.css" />
<link rel="stylesheet"
      type="text/css"
      href="~/template/profilecss/icon-font.min.css" />
<link rel="stylesheet"
      type="text/css"
      href="~/template/profilecss/cropper.css" />
<link rel="stylesheet" type="text/css" href="~/template/profilecss/style.css" />

<div class="profile-setting">
    <form>
        <ul class="profile-edit-list row">
            <li class="weight-500 col-md-6 offset-3">
                <h4 class="text-blue h5 mb-20">
                    Kullanıcı Ayarlarını Güncelle
                </h4>
                <div class="form-group">
                    <label>Ad</label>
                    <input class="form-control form-control-lg"
                           type="text" />
                </div>
                <div class="form-group">
                    <label>Soyad</label>
                    <input class="form-control form-control-lg"
                           type="text" />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control form-control-lg"
                           type="email" />
                </div>
                <div class="form-group">
                    <label>Doğum Tarihi</label>
                    <input class="form-control form-control-lg date-picker"
                           type="text" />
                </div>
                <div class="form-group">
                    <label>Cinsiyet</label>
                    <div class="d-flex">
                        <div class="custom-control custom-radio mb-5 mr-20">
                            <input type="radio"
                                   id="customRadio4"
                                   name="customRadio"
                                   class="custom-control-input" />
                            <label class="custom-control-label weight-400"
                                   for="customRadio4">Erkek</label>
                        </div>
                        <div class="custom-control custom-radio mb-5">
                            <input type="radio"
                                   id="customRadio5"
                                   name="customRadio"
                                   class="custom-control-input" />
                            <label class="custom-control-label weight-400"
                                   for="customRadio5">Kadın</label>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-0">
                    <input type="submit"
                           class="btn btn-primary"
                           value="Update Information" />
                </div>
            </li>
        </ul>
    </form>
</div>


