
@{
    ViewData["Title"] = "Login";
}
@model LoginDTO

<partial name="_ValidationScriptsPartial"/>

<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Giriş Yap</h1>
        </div>
        </div>
        
            
        

<section class="vh-100" >
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://images.deliveryhero.io/image/fd-tr/LH/t76e-listing.jpg"
                                 alt="login form" class=" w-100 h-100" style="border-radius: 1rem 0 0 1rem;" />

                                    
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form asp-action="Login" asp-controller="User" method="post">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-hamburger fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0"></span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Hesabına Giriş Yap</h5>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" asp-for="UserName">Kullanıcı Adı</label>
                                        <input type="text" asp-for="UserName" class="form-control form-control-lg" />
                                        <span asp-validation-for="UserName" class="bg-danger text-white"></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" asp-for="Password">Parola</label>
                                        <input type="password" asp-for="Password" class="form-control form-control-lg" />
                                        <span asp-validation-for="Password" class="bg-danger text-white"></span>
                                    </div>
                                    <div asp-validation-summary="All" class="bg-danger text-white"></div>
                                    <div class="bg-danger text-white">@ViewBag.Uyarı</div>
                                    <div class="pt-1 mb-4">
                                        <input class="btn btn-dark btn-lg btn-block" type="submit" value="Giriş"/>
                                    </div>


                                    <a class="small text-muted" asp-action="ForgetPassword" asp-controller="PasswordChange">Şifrenizi Unuttunuz Mu?</a>
                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                        Hesabınız Yok Mu? <a asp-action="Register" asp-controller="User"
                                                                  style="color: #393f81;">Buradan Kayıt Olun!</a>

                                    </p>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 