@using Proje.BLL.Models.DTOs.MenuDTOs
@using Proje.DATA.Entities
@model CreateMenuDTO

<div class="col-lg-6 offset-5 grid margin stretch-card" style="width: 350px">
    <div class="card">
        <div class="card-header">
            <div class="card-body">
                <form asp-controller="ExtraMalzeme" asp-action="Create" method="post">
                    <h4 class="card-title">Menü Ekle</h4>
                    <br />
                    <div class="form-group">
                        <label for="Adi" class="control-label">Menü Adı</label>
                        <input type="text" style="width:250px" name="Adi" placeholder="Menü Adı" asp-for="Adi" class="form-control" />
                        <span asp-validation-for="Adi" class="text-danger"></span>
                        <br />

                        <label for="Fiyat" class="control-label">Menü Fiyatı</label>
                        <input type="text" style="width:250px" name="Fiyat" type="number" min="0" placeholder="1.0" step="0.1" asp-for="Fiyat" class="form-control" />
                        <br />
                        <div class="form-group">
                            <label asp-for="Image" class="control-label">Menü Resmi</label>
                            <input type="file" asp-for="Image" class="form-control" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>

                        <span asp-validation-for="Fiyat" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <button class="btn btn-primary">Menü Oluştur</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div asp-validation-summary="All" class="bg-danger text-white"></div>
