@using Proje.BLL.Models.DTOs.MenuDTOs
@model UpdateMenuDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div class="col-lg-6 offset-5 grid margin stretch-card" style="width: 320px">
    <div class="card">
        <div class="card-header">
            <div class="card-body">
                <form asp-action="Edit">
                    <h4 class="card-title">Güncelle</h4>
                    <br />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div class="form-group">
                        <label asp-for="Adi" class="control-label">Adı</label>
                        <input type="text" style="width:250px" asp-for="Adi" class="form-control" />
                        <span asp-validation-for="Adi" class="text-danger"></span>
                        <br />
                        <label asp-for="Fiyat" class="control-label">Fiyatı</label>
                        <input type="text" style="width:250px" asp-for="Fiyat" class="form-control" />
                        <span asp-validation-for="Fiyat" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Güncelle" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="bg-danger text-white" asp-validation-summary="All"></div>


<div>
    <a class="btn btn-primary" asp-action="Index">Listeye Dön</a>
</div>


