@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

h2 {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 4rem;
}

.all-products {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    /*justify-content: center;*/
    /*flex-wrap: wrap;*/
}

.product {
    overflow: hidden;
    background: #0f172b;
    color: #0f172b;
    text-align: center;
    width: 240px;
    height: 400px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    margin: 2rem;
}

    .product .product-title, .product .product-price {
        font-size: 18px;
    }

    .product:hover img {
        scale: 1.1;
    }

    .product:hover {
        box-shadow: 5px 15px 25px #eeeeee;
    }

    .product img {
        height: 200px;
        margin: 1rem;
        transition: all 0.3s;
    }

    .product a:link, .product a:visited {
        color: #ececec;
        display: inline-block;
        text-decoration: none;
        background-color: #0f172b;
        padding: 1.2rem 3rem;
        border-radius: 1rem;
        margin-top: 1rem;
        font-size: 14px;
        transition: all 0.2s;
    }

    .product a:hover {
        transform: scale(1.1);
    }
    
